.item-content {
    display: flex;
    padding-top: px2rem(15px);
    padding-bottom: px2rem(15px);
    margin-left: px2rem(10px);
    margin-right: px2rem(10px);
    color: #656565;
    &:after {
        background-color: #e4e4e4;
    }
    .item-img {
        margin-left: 8%;
        width: px2rem(86px);
        height: px2rem(86px);
        border: 1px solid #e4e4e4;
    }
    .item-info-content {
        flex: 1;
        margin-left: 8%;
    }
    .item-title {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 500;
        color: #333;
    }
    .item-desc {
        margin-top: 16px;
        font-size: 14px;
    }
    .item-start {
        float: left;
        margin-left: 18%;
    }
    .item-to {
        float: left;
        margin-left: 5%;
    }
    .item-end {
        float: left;
        margin-left: 5%;
    }
}