.buy-item-content {
    display: flex;
    padding-top: px2rem(15px);
    padding-bottom: px2rem(15px);
    margin-left: px2rem(10px);
    margin-right: px2rem(10px);
    color: #656565;

    // &:after {
    //     background-color: #e4e4e4;
    // }

    .buy-item-img {
        margin-left: 30%;
        width: px2rem(64px);
        height: px2rem(64px);
        border: 1px solid #e4e4e4;
    }

    .buy-item-info-content {
        flex: 1;
        margin-left: 8%;
    }

    .buy-item-title {
        margin-left: 5%;
        line-height: px2rem(64px);
        font-size: px2rem(16px);
        font-weight: 500;
        color: #333;
    }
}