.history {
    .header {
        width: 100%;
        height: px2rem(160px);
        background-image: url('./img/header.jpg');
        background-size: cover;
        overflow: hidden;
    }
    .avatar {
        width: px2rem(72px);
        height: px2rem(72px);
        margin: 0 auto;
        display: block;
        margin-top: px2rem(25px);
        // border: 3px solid rgba(255,255,255,0.4);
        // border-radius: 50%;
    }
    .nickname {
        color: #333;
        font-size: px2rem(18px);
        text-align: center;
        margin-top: px2rem(15px);
    }
    .loading {
        padding-top: 10px;
        padding-bottom: 40px;
        font-size: 14px;
        text-align: center;
        color: #ccc;
    }
}